build/*
!build/.gitkeep

env/secrets.yml

*.xlsx
!resources/template.xlsx
!resources/example.xlsx

__pycache__/
*.py[cod]
*$py.class

.venv/
.env
.env.*

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

dist/
*.egg-info/
