build/*
!build/.gitkeep

# Local configuration
env/config.yml

# Local/personal workbooks
workbooks/*
!workbooks/.gitkeep

*.xlsx
!resources/workbooks/template.xlsx
!resources/workbooks/example.xlsx

__pycache__/
*.py[cod]
*$py.class

.venv/
.poetry/
.env
.env.*

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

dist/
*.egg-info/

tmp/